.addPodcastContainer {
	margin: 5rem auto 0 auto;
	width: 70%;
	// text-align: center;
}

.addPodcastForm {
	margin-top: 2rem;
	// text-align: center;
}

label {
	text-align: left;
}

label {
	display: block;
}

input {
	box-sizing: border-box;
	border: none;
	margin: 1rem auto;
	padding: 0.5rem;
	display: block;
}

.textInput {
	width: 100%;
}

.inline {
	display: inline-block !important;
	margin-bottom: 2rem;
}

.premiumPodcast {
	margin-left: 1rem;
}

.podcastCreatedLink,
.errorCreatingPodcast,
.addingPodcastState {
	margin-top: 2rem;
	text-align: center;
}

.podcastCreatedLink {
	display: inline-block;

	color: $green1;
}

.errorCreatingPodcast {
	display: block;
	color: $pink;
}

.addingPodcastState {
	display: block;
	color: $blue1;
}

@media only screen and (max-width: 800px) {
	.addPodcastContainer {
		width: 100%;
	}
}
