.addPodcastContainer {
	margin: 5rem auto 0 auto;
	width: 70%;
}

.addPodcastForm {
	margin-top: 2rem;
}

.premiumPodcast {
	margin-left: 1rem;
}

.podcastCreatedLink,
.errorCreatingPodcast,
.addingPodcastState {
	margin-top: 2rem;
	text-align: center;
}

.podcastCreatedLink {
	display: inline-block;

	color: $green1;
}

.errorCreatingPodcast {
	display: block;
	color: $pink;
}

.addingPodcastState {
	display: block;
	color: $blue1;
}

@media only screen and (max-width: 800px) {
	.addPodcastContainer {
		width: 100%;
	}
}
