#podcastInfo {
	display: flex;
	margin: 5rem 0 2rem 0;
	align-items: center;
}

#podcastInfoTextContainer {
	padding: 2rem;
	background: linear-gradient(225deg, rgb(230, 229, 229), rgb(199, 198, 198));
	min-width: 50%;
}

.podcastInfoText {
	margin-top: -3.3rem;
}

// .podcastName {
// }

.podcastDescription {
	margin-top: 2rem;
}

#podcastMainImage {
	height: 35%;
	width: 35%;
}

.podcastLink {
	font-size: 0.8rem;
}

.podcastLastUpdated {
	margin-top: 3rem;
	margin-bottom: 0;
}

.podcastIgnoring {
	margin: 0;
}

table {
	table-layout: fixed;
	width: 100%;
	// border: 3px solid red;
	// border: none;
	margin-top: 1rem;
}

.tableDate {
	width: 5rem;
}

// .tableLink {
// 	width: 100%;
// }

tr:nth-child(odd) {
	// width: 100%;
	// border: 2px solid purple;
	// background: linear-gradient(125deg, #b8b8b8, #e0dede);
}

tr:nth-child(even) {
	// background: linear-gradient(125deg, #e0dede, #b8b8b8);
}

td {
	padding: 0.4rem 0;
	// width: 100px;
	// border: 1px solid blue;
}

.tableText {
	font-family: $sansserif-font;
	font-weight: 300;
	font-size: 0.9rem;
}

@media only screen and (max-width: 800px) {
	#podcastInfo {
		flex-direction: column-reverse;
	}
	#podcastMainImage {
		height: 80%;
		width: 80%;
		max-width: 400px;
		max-height: 400px;
		margin-bottom: 5rem;
	}
}
