#podcastInfo {
	display: flex;
	margin: 5rem 0 2rem 0;
	align-items: center;
}

#podcastInfoTextContainer {
	padding: 2rem;
	background: linear-gradient(225deg, rgb(230, 229, 229), rgb(199, 198, 198));
	min-width: 50%;
}

.podcastInfoText {
	margin-top: -3.3rem;
}

.podcastDescription {
	margin-top: 2rem;
}

#podcastMainImage {
	height: 35%;
	width: 35%;
}

.podcastLink {
	font-size: 0.8rem;
}

.podcastLastUpdated {
	margin-top: 3rem;
	margin-bottom: 0;
}

.podcastIgnoring {
	margin: 0;
}

.episodeTable {
	background: linear-gradient(225deg, rgb(230, 229, 229), rgb(199, 198, 198));
}

table {
	table-layout: fixed;
	width: 100%;
	margin-top: 1rem;
}

.tableDate {
	width: 5rem;
}

td {
	padding: 0.4rem 0;
}

.tableText {
	font-family: $sansserif-font;
	font-weight: 300;
	font-size: 0.9rem;
}

@media only screen and (max-width: 800px) {
	#podcastInfo {
		flex-direction: column-reverse;
	}
	#podcastMainImage {
		height: 80%;
		width: 80%;
		max-width: 400px;
		max-height: 400px;
		margin-bottom: 5rem;
	}
}
