* {
	font-family: $serif-font;
	color: $grey;
}

a {
	text-decoration: none;
	font-weight: 700;
}

p {
	font-size: 0.9rem;
	font-weight: 400;
}

.sansserif,
.time {
	font-family: $sansserif-font;
	font-weight: 300;
	font-size: 0.75rem;
}

.underlineLink,
.noBackground {
	position: relative;
}

.navLink {
	display: inline-block;
}

button,
.navLink {
	margin: 0 0.5rem;
	font-family: $sansserif-font;
	font-size: 0.8rem;
	font-weight: 400;
	text-transform: uppercase;
}

.underlineLink::after,
.noBackground::after {
	content: '';
	background: $yellow1;
	position: absolute;
	bottom: -4px;
	left: 0;
	height: 2px;
	width: 100%;
	transform-origin: bottom;
	transform: scaleY(0);
	transition: transform 0.5s;
}

.underlineLink:hover::after,
.noBackground:hover::after {
	transform: scaleY(1);
}

h1 {
	font-weight: 700;
	margin: 0;
}

h2 {
	font-family: $sansserif-font;
	font-weight: 300;
	margin: 0;
	background: linear-gradient(45deg, $yellow1, $yellow2);
	background-clip: text;
	-webkit-text-fill-color: transparent;
}

.homeTitle {
	margin: 4rem 0 0.2rem 0;
}

.homeSubtitle {
	margin-bottom: 4rem;
}

button {
	border: transparent;
	background-color: $green1;
	background-image: linear-gradient(to right, $green1, $green2);
	background-size: 200% auto;
	color: $white;
	cursor: pointer;
	padding: 0.4rem 0.6rem;
	transition: 0.5s;
}

button:hover {
	background-position: right center;
}

.noBackground {
	background: transparent;
	color: $grey;
}

body {
	background-color: $white;
}

.outerContainer {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 20px;
}

.navContainer {
	margin-top: 30px;
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
}

.navLogo {
	font-family: $serif-font;
	font-weight: 700;
	font-size: 1.5rem;
	text-decoration: none;
	padding: 0 0.5rem;
	position: relative;
}

.navLogo::before {
	content: '';
	background: $yellow1;
	position: absolute;
	bottom: 0.15rem;
	left: 0;
	height: 1rem;
	width: 100%;
	z-index: -1;
	transition: all 0.5s;
}

.navLogo:hover::before {
	bottom: -0.5rem;
	height: 2.3rem;
}

.linksContainer button:last-child {
	margin-right: 0;
}
