// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i&display=swap');

// Font Variables
$serif-font: 'Playfair Display', serif;
$sansserif-font: 'Montserrat', sans-serif;

// Color Variables
$grey: #383838;
$white: #f8f8f8;
$green1: #61cb75;
$green2: #50b1aa;
$green3: #58b89d;
$green4: #43907a;
$yellow1: #e2be3f;
$yellow2: #cf9c2e;
$blue1: #2e6ece;
$blue2: #2358a8;
$pink: #d92e8a;
$pink2: #d92e37;
