@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Playfair+Display:400,400i,700,700i,900,900i&display=swap");
* {
  font-family: "Playfair Display", serif;
  color: #383838; }

a {
  text-decoration: none;
  font-weight: 700; }

p {
  font-size: 0.9rem;
  font-weight: 400; }

.sansserif,
.time {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 0.75rem; }

.underlineLink,
.noBackground {
  position: relative; }

.navLink {
  display: inline-block; }

button,
.navLink {
  margin: 0 0.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  text-transform: uppercase; }

.underlineLink::after,
.noBackground::after {
  content: '';
  background: #e2be3f;
  position: absolute;
  bottom: -4px;
  left: 0;
  height: 2px;
  width: 100%;
  transform-origin: bottom;
  transform: scaleY(0);
  transition: transform 0.5s; }

.underlineLink:hover::after,
.noBackground:hover::after {
  transform: scaleY(1); }

h1 {
  font-weight: 700;
  margin: 0; }

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  margin: 0; }

.homeTitle {
  margin: 4rem 0 0.2rem 0;
  background: linear-gradient(45deg, #e2be3f, #cf9c2e);
  background-clip: text;
  -webkit-text-fill-color: transparent; }

.homeSubtitle {
  margin-bottom: 4rem; }

button {
  border: transparent;
  background-color: #61cb75;
  background-image: linear-gradient(to right, #61cb75, #50b1aa);
  background-size: 200% auto;
  color: #f8f8f8;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  transition: 0.5s; }

button:hover {
  background-position: right center; }

.noBackground {
  background: transparent;
  color: #383838; }

body {
  background-color: #f8f8f8; }

.outerContainer {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px; }

.navContainer {
  margin-top: 30px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between; }

.navLogo {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 0 0.5rem;
  position: relative; }

.navLogo::before {
  content: '';
  background: #e2be3f;
  position: absolute;
  bottom: 0.15rem;
  left: 0;
  height: 1rem;
  width: 100%;
  z-index: -1;
  transition: all 0.5s; }

.navLogo:hover::before {
  bottom: -0.5rem;
  height: 2.3rem; }

.linksContainer button:last-child {
  margin-right: 0; }

.podcastDiv {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative; }

.podcastImage {
  height: 100%;
  width: 100%;
  transition: all 0.5s; }

.podcastDiv:hover .podcastImage,
.podcastDiv:focus .podcastImage {
  transform: scale(1.07); }

.podcastsContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.podcastDiv {
  margin: 10px; }

#podcastInfo {
  display: flex;
  margin: 5rem 0 2rem 0;
  align-items: center; }

#podcastInfoTextContainer {
  padding: 2rem;
  background-color: #e0e0e0;
  flex-basis: 1;
  flex-grow: 1; }

.podcastInfoText {
  margin-top: -3.3rem; }

.podcastDescription {
  margin-top: 2rem; }

#podcastMainImage {
  height: 35%;
  width: 35%;
  flex-basis: 1;
  flex-grow: 1; }

.footerContainer {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 5rem; }

.deemphasized {
  color: #858585; }

/*# sourceMappingURL=app.css.map */
